@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button class="btn btn-primary">
                    Search
                </button> 
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach(var restuarant in Model.Restaurants)
            {
                <tr>
                    <td>@restuarant.Name</td>
                    <td>@restuarant.Location</td>
                    <td>@restuarant.Cuisine</td>
                    <td>
                        <a class="btn btn-lg" asp-page="./Detail" 
                           asp-route-restaurantId="@restuarant.Id">
                            Details
                        </a>
                    </td>
                </tr>
            }
</table>


<div>@Model.Message</div>